<%-include('./partial/meta');-%>
<h2>
    welcome to admin login page
</h2>
<form action="/admin" method="POST">
    <input tye=" text" placeholder=" enter email" name="email">
    email <br><br>

    <input tye=" text" placeholder=" enter password" name="password">password
 <br><br>
 <button type="summit" value="summit"> summit</button>
</form>