<%-include('./partial/meta');-%>
<%-include('./partial/css'); -%>

<body >
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Clothe Crusie</h1>
		<p> 
      For Designer Clothe
    </p>
		<span>
			Influential, innovative and progressive, 
      <br>
      Clothe Crusie is reinventing a wholly modern
      <br> approach to fashion.
			
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Register Here!</h5>
		
		<div class="inputs" action="/register" method="post">
			<input type="text" placeholder="Name ">
            <input type="text " required placeholder="Email">
			<br>
			<input type="password" placeholder="password">
            <input type="Reset-password" placeholder="Re password">
		</div>
			
			<br><br>
			
		<div class="remember-me-">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
    
    
  
		</div>
       
			<br>
			<button> <a href=" " class="text-white" action="register" >Register</a></button>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
