<%-include('./partial/header');-%>
<%-include('./partial/css'); -%>

<body >
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Clothe Crusie</h1>
		<p> 
      For Designer Clothe
    </p>
		<span>
			Influential, innovative and progressive, 
      <br>
      Clothe Crusie is reinventing a wholly modern
      <br> approach to fashion.
			
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Register Here!</h5>
		
		<div class="inputs">
			<input type="text" placeholder="First Name ">
            <input type="text" placeholder="Last Name">
            <input type="text" placeholder="Email">
			<br>
			<input type="password" placeholder="password">
            <input type="Reset-password" placeholder="Reset password">
		</div>
			
			<br><br>
			
		<div class="remember-me-">
				<!-- Angular -->
	<label>
		<input type="checkbox" name="item" checked/>
		<span class="text-checkbox">Remember me</span>
	</label>
    
    <button> <a  href="./login"></a>Login</button>
  
		</div>
       
			<br>
			<button>Register </button>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
