<%-include('./partial/meta');-%>
<%-include('./partial/css'); -%>

<body >
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Clothe Crusie</h1>
		<p> 
      For Designer Clothe
    </p>
		<span>
			Influential, innovative and progressive, 
      <br>
      Clothe Crusie is reinventing a wholly modern
      <br> approach to fashion.
			
		</span>
		</div>
	</div>
	
	
		<div class="right">
		<h5>Register Here!</h5>
	<form  action="/register" method="POST">
		<p>name</p><input type="text" name="name" placeholder="Name " >
           <p>email</p><input type="text "   name="email" required placeholder="Email" >
			<br>
			<p>password</p> <input type="password" id="mypwd" name="password" placeholder="8 to 16 character" minlength="8" maxlength="16">
			
	
           <p>confrim password</p><input  id ="mypwd" type="password" name=" password" placeholder="8 to 16 character"minlength="8" maxlength="16">
		
			<button text="summit"  id="summit" value="summit">Register</a>
			</button>
		</form>
		<br><br>
			
		
       
	</div>
	<!-- partial -->
	  <%-include('./partial/js');-%>
	</body>
	</html>		

    

	

