.body{
    margin: 0;
    padding: 0;
}
      
.container {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.6);
  padding: 0 100px;
box-sizing: border-box;}

.navbar .span:hover{
    background-color:plum;
}
.navbar-nav .nav-item .nav-link:hover{
    background-color:plum;
    
}
.navbar-nav .dropdown  :hover
{
    background-color:plum;
    
}
.navbar-nav .dropdown  .dropdown-item:hover{
    background-color:plum;
}
.carosel{
    height: 500px;
    margin-top: 30px;
}



    
