<!-- about us -->
<hr>
<div class="content">
<div class="row text-center">
  <div class="col-md-12">  <h2>Get To Know Us</h2></div>

</div>
  <div class="row text-center">
   <div class="col-md-6">
    <a href="#"></a><h2>About clothe Crusie</h2>
    <P>  At Clothe Cursie, we make everything as simple as
      you are.<br>
      Whatever makes you happy, you'll find it at Clothe Cursie .
      <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
   </div>		
   <div class="col-md-6">
    <h2> Contact us</h2>
    <p> Om nagar tol
      <br>
      kathmandu,pepsicola<br>
     <strong> phone:9861541745</strong><br>
      <strong>Email:</strong><a href="#">CC8524@gmail.com</a><br>
    </p>


   </div>
  </div>






