<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/image/logo.png" style=" width:10%; height:10% ">
     <span class="span text-white" >Clothe Crusie</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse  id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active ">
          <a class="nav-link text-white" href="#">Home <span class="sr-only"></span></a>
        </li>
        
        <div class="dropdown">
          <a class="nav nav-link dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Acessories
          </a>
          <ul class="dropdown-menu"style="background-color: rgba(0,0,0,0.6);" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item text-white" href="#">Jewlary</a> </li>
            <li><a class="dropdown-item text-white" href="#">Bags & Purse</a></li>
            <li><a class="dropdown-item text-white" href="#">Fragrance</a></li>
            <li><a class="dropdown-item text-white" href="#">Watch</a></li>

          </ul>
        </div>
        <div class="dropdown">
          <a class="nav nav-link dropdown-toggle text-white" href="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          catagories
          </a>
        
          <ul class="dropdown-menu "style="background-color: rgba(0,0,0,0.6);" aria-labelledby="dropdownMenuLink">
            <li><a onclick="window.open('/women')" class="dropdown-item text-white" href=" ">Women</a></li>
            <li><a class="dropdown-item text-white" href="#">Men</a></li>
            <li><a class="dropdown-item text-white" href="#">Kids</a></li>
            <li><a class="dropdown-item text-white" href="#">On sale</a></li>
            <li><a class="dropdown-item text-white" href="#">New Arrivals</a></li>
          </ul>
        </div>
        <li class="nav-item">
         </li><a href="./login" type="button" class="btn btn text-white"id="login">login </a>
         
      </li><a href=" " type="button" class="btn btn text-white"id="login">logout </a>
  
        </li>
      </ul>
      </div>
    </div>
  </nav>
   
